<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DienThoaiContext" connectionString="data source=DESKTOP-ONTGILH;initial catalog=QLDT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BaiThu6.Properties.Settings.QLDTConnectionString" connectionString="Data Source=DESKTOP-ONTGILH;Initial Catalog=QLDT;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="PhoneContext" connectionString="data source=DESKTOP-ONTGILH;initial catalog=QLDT-test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BaiThu6.Properties.Settings.QLDT_testConnectionString" connectionString="Data Source=DESKTOP-ONTGILH;Initial Catalog=QLDT-test;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="PhoneContext1" connectionString="data source=DESKTOP-ONTGILH;initial catalog=Phone;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BaiThu6.Properties.Settings.PhoneConnectionString" connectionString="Data Source=DESKTOP-ONTGILH;Initial Catalog=Phone;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="PhoneContext2" connectionString="data source=DESKTOP-ONTGILH;initial catalog=Phone;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PhoneContext3" connectionString="data source=DESKTOP-ONTGILH;initial catalog=Phone;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PhoneContext4" connectionString="data source=DESKTOP-ONTGILH;initial catalog=Phone;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PhoneContext5" connectionString="data source=DESKTOP-ONTGILH;initial catalog=Phone;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PhoneContext6" connectionString="data source=DESKTOP-ONTGILH;initial catalog=Phone;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PhoneContext7" connectionString="data source=DESKTOP-ONTGILH;initial catalog=Phone;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PhoneContext8" connectionString="data source=DESKTOP-ONTGILH;initial catalog=Phone;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PhoneContext9" connectionString="data source=DESKTOP-ONTGILH;initial catalog=Phone;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PhoneContext10" connectionString="data source=DESKTOP-ONTGILH;initial catalog=PhoneUwU;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BaiThu6.Properties.Settings.PhoneUwUConnectionString" connectionString="Data Source=DESKTOP-ONTGILH;Initial Catalog=PhoneUwU;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="PhoneContext11" connectionString="data source=DESKTOP-ONTGILH;initial catalog=PhoneUwU;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PhoneContext12" connectionString="data source=DESKTOP-ONTGILH;initial catalog=PhoneUwU;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PhoneContext13" connectionString="data source=DESKTOP-ONTGILH;initial catalog=PhoneUwU;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.3460.0.57" newVersion="19.3460.0.57" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>